:root {
    --main-border-color: #DFE1E6;
    --footer-text-color: white;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style-position: inside;
}
input {
    border: none;
    outline: none;
}
body {
    background-color: #F4F5F7;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.logo {
    display: flex;
}
.logo h1 {
    color: #2F353D;
}
.logo img {
    width: 40px;
    height: 40px;
    padding-right: 12.5px;
}
header .container nav {
    display: flex;
    align-self: center;
}
header .container nav li {
    list-style: none;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    padding-right: 32px;
    display: flex;
    color: rgba(23, 25, 28, 1);
}
nav li img {
    align-self: center;
}
button {
    font-size: 16px;
    line-height: 24px;
    background: #1874FF;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
}



.mob_menu {
    transition: .5s;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    left: 100%;
}
.mob_menu nav li {
    display: flex;
    justify-content: center;
    color: rgba(23, 25, 28, 1);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.mob_menu nav li img {
    align-self: center;
}
.mob_menu button {
    width: 87px;
    align-self: center;
}
.mob_menu nav {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 35px;
}
.open {
    left: 0;
    transition: .5s;
}
.noscroll {
    overflow: hidden;
}

header .container {
    display: flex;
    justify-content: space-between;
}
header {
    border-bottom: 1px solid #DFE1E6;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    top: 0;
    background-color: #F4F5F7;
}
.title {
    padding: 64px 0;
    margin-top: 96px;
    background-color: rgba(116, 182, 255, 0.15);
}
.title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
main {
    margin-top: 48px;
}
main img {
    border-radius: 16px;
}
.img-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
main h3 {
    margin-top: 64px;
}
.text {
    max-width: 702px;
    margin: 0 auto;
}
.list li {
    padding-bottom: 8px;
}
.text h3 {
    padding-bottom: 24px;
}
.paragraph {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.paragraph span {
    color: #1874FF;
}
table {
    width: 702px;
    border-bottom: 1px solid var(--main-border-color);
}
table tr:nth-child(3) td {
    padding-top: 8px;
}
table tr:nth-child(2) {
    border-bottom: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    line-height: 3px;
}
table tr td:first-child {
    text-align: left;
    padding-left: 17px;
}
table td {
    text-align: center;
}
table tr td {
    padding-bottom: 16px;
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
}
table, th, td {
    border-collapse: collapse;
}
.emoji {
    display: flex;
    width: 432px;
    justify-content: space-between;
    margin: 47.5px auto 64px auto;
}
.emoji img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.title2 {
    padding: 64px 0 0 0;
    margin-top: 96px;
    background-color: rgba(116, 182, 255, 0.15);
}
.title2 h2 {
    padding-bottom: 64px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.cards {
    display: flex;
    column-gap: 20px;
}
.card {
    width: 328px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(23, 25, 28, 0.25);
    transition: .5s;
}
.card:hover {
    box-shadow: none;
    transition: .5s;
}
.card h3 {
    padding: 21px 17px;
    color: rgba(23, 25, 28, 1);
}
.subscribe {
    margin: 64px auto;
    display: flex;
    justify-content: space-between;
}
.send {
    display: flex;
    column-gap: 8px;
}
.send p {
    color: #2F353D;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}
.send input {
    width: 233px;
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    box-shadow: 0 4px 8px 0 rgba(137, 147, 164, 0.15);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}
footer {
    background-color: rgba(32, 35, 40, 1);
    padding: 64px 0 16px 0;
}
.footer_logo {
    display: flex;
    column-gap: 12.5px;
    padding-bottom: 18px;
}
.footer_logo h2 {
    color: var(--footer-text-color);
    align-self: center;
}
footer nav li img {
    filter: invert(1);
    align-self: center;
}
footer nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
}
footer nav li {
    display: flex;
    color: var(--footer-text-color);
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 16px;
    list-style: none;
}
.links {
    width: 254px;
}
footer .container {
    display: flex;
    justify-content: space-between;
}
.number {
    color: var(--footer-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border-left: 1px solid white;
    padding-left: 17px;
}
.messengers {
    column-gap: 17px;
    display: flex;
}
.email {
    color: var(--footer-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 16px 0 35px 0;
}
.address {
    color: var(--footer-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.platforms {
    display: flex;
    column-gap: 24px;
    margin-bottom: 20px;
}
.media p {
    color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.media p:nth-child(3) {
    padding: 9px 0 8px 0;
}
.copyright {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
    border-top: 1px solid white;
    margin-top: 88px;
}
.copyright p {
    color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.last_p {
    padding-top: 64px;
}
.nav_btns {
    display: flex;
    column-gap: 8px;
    width: 48px;
    margin: 27px auto 0 auto;
    padding-bottom: 67px;
    opacity: 0;
}
.btn {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: rgba(176, 186, 175, 1);
}
.active {
    width: 20px;
    background-color: rgba(24, 116, 255, 1);
}
.media {
    width: 235px;
}
.burger-icon {
    cursor: pointer;
    display: none;
    z-index: 1;
}
.headre_right {
    display: flex;
    column-gap: 48px;
}
.last_h3 {
    margin-top: 88px;
}
@media screen and (max-width: 1439px) {
    .mob_menu button, header .container nav, .emoji {
        display: none;
    }
    .container {
        max-width: 720px;
    }
    main .container>img {
        width: 720px;
    }
    .cards {
        justify-content: center;
    }
    .cards a:last-child {
        display: none;
    }
    .title {
        padding: 40px 0;
        margin-top: 88px;
    }
    .title h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    .img-text b {
        font-weight: 300;
    }
    main h3 {
        margin-top: 48px;
    }
    .last_p {
        padding-top: 48px;
    }
    .nav_btns {
        opacity: 1;
    }
    .copyright {
        max-width: 720px;
        margin-top: 32px;
    }
    footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .media {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .media p {
        align-self: end;
        width: 345px;
    }
    .phone {
        width: 345px;
    }
    .burger-icon {
        display: block;
    }
    header button {
        align-self: end;
    }
    .last_h3 {
        margin-top: 64px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 288px;
    }
    .headre_right button {
        display: none;
    }
    main .container>img {
        width: 288px;
    }
    .cards a:not(.cards a:first-child) {
        display: none;
    }
    .img-text {
        font-size: 16px;
        line-height: 24px;
    }
    .paragraph {
        font-size: 16px;
        line-height: 24px;
    }
    .last_p {
        padding-top: 24px;
    }
    .last_h3 {
        margin-top: 48px;
    }
    .scroll {
        overflow-y: auto;
    }
    .card {
        width: 288px;
    }
    .card img {
        width: 288px;
    }
    .subscribe, .send {
        flex-direction: column;
    }
    .send button {
        width: 114px;
    }
    .send input {
        margin: 24px 0 16px 0;
    }
    footer .container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .media p {
        align-self: auto;
        width: auto;
    }
    .messengers {
        display: flex;
        flex-wrap: wrap;
        padding-top: calc(48px - 16px);
    }
    .number {
        border: none;
        padding-left: 0;
        padding: 16px 0 0 0;
    }
    .phone {
        width: auto;
    }
    .media {
        margin-top: 16px;
    }
    .copyright {
        flex-direction: column;
        text-align: center;
    }
    .copyright p {
        width: 210px;
        margin: 8px auto 0 auto;
    }
    .platforms {
        margin-bottom: 48px;
    }
    .email {
        padding: 16px 0;
    }
    .emoji {
        display: flex;
        column-gap: 16px;
        flex-wrap: wrap;
        width: 240px;
        margin: 47.5px auto 48px auto;
        justify-content: center;
        row-gap: 16px;
    }
    .title2 {
        margin: 0;
    }
    .mob_menu button {
        display: block;
    }
}