:root {
    --main-border-color: #DFE1E6;
    --footer-text-color: white;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
input {
    border: none;
    outline: none;
}
body {
    background-color: #F4F5F7;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.logo {
    display: flex;
}
.logo img {
    width: 40px;
    height: 40px;
    padding-right: 12.5px;
}
nav {
    display: flex;
    align-self: center;
}
nav li {
    list-style: none;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    padding-right: 32px;
    display: flex;
}
nav li img {
    align-self: center;
}
button {
    font-size: 16px;
    line-height: 24px;
    background: #1874FF;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
}
header .container {
    display: flex;
    justify-content: space-between;
}
header {
    border-bottom: 1px solid #DFE1E6;
    padding-top: 12px;
    padding-bottom: 12px;
}
.title {
    padding: 64px 0;
    margin-top: 96px;
    background-color: rgba(116, 182, 255, 0.15);
}
.title h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
main {
    margin-top: 48px;
}
main img {
    border-radius: 16px;
}
.img-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
main h3 {
    margin-top: 64px;
}
.text {
    max-width: 702px;
    margin: 0 auto;
}
.list li {
    padding-bottom: 8px;
}
.text h3 {
    padding-bottom: 24px;
}
.paragraph {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.paragraph span {
    color: #1874FF;
}
table {
    width: 702px;
    border-bottom: 1px solid var(--main-border-color);
}
table tr:nth-child(3) td {
    padding-top: 8px;
}
table tr:nth-child(2) {
    border-bottom: 1px solid var(--main-border-color);
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
    line-height: 3px;
}
table tr td:first-child {
    text-align: left;
    padding-left: 17px;
}
table td {
    text-align: center;
}
table tr td {
    padding-bottom: 16px;
    border-right: 1px solid var(--main-border-color);
    border-left: 1px solid var(--main-border-color);
}
table, th, td {
    border-collapse: collapse;
}
.emojy {
    display: flex;
    width: 432px;
    justify-content: space-between;
    margin: 47.5px auto 64px auto;
}
.emojy img {
    width: 48px;
    height: 48px;
}
.title2 {
    padding: 64px 0 0 0;
    margin-top: 96px;
    background-color: rgba(116, 182, 255, 0.15);
}
.title2 h2 {
    padding-bottom: 64px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.cards {
    display: flex;
    column-gap: 20px;
}
.card {
    width: 328px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(23, 25, 28, 0.25);
}
.card h3 {
    padding: 21px 17px;
}
.subscribe {
    max-width: 702px;
    margin: 64px auto;
    display: flex;
    justify-content: space-between;
}
.send {
    display: flex;
    column-gap: 8px;
}
.send p {
    color: #2F353D;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}
.send input {
    width: 233px;
    border: none;
    border-radius: 8px;
    padding: 7px 16px;
    box-shadow: 0 4px 8px 0 rgba(137, 147, 164, 0.15);
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}
footer {
    background-color: rgba(32, 35, 40, 1);
    padding: 64px 0 16px 0;
}
.footer_logo {
    display: flex;
    column-gap: 12.5px;
    padding-bottom: 18px;
}
.footer_logo h2 {
    color: var(--footer-text-color);
    align-self: center;
}
footer nav li img {
    filter: invert(1);
    align-self: center;
}
footer nav {
    display: flex;
    flex-wrap: wrap;
}
footer nav li {
    color: var(--footer-text-color);
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 16px;
}
.links {
    width: 254px;
}
footer .container {
    display: flex;
    justify-content: space-between;
}
.number {
    color: var(--footer-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border-left: 1px solid white;
    padding-left: 17px;
}
.messengers {
    column-gap: 17px;
    display: flex;
}
.email {
    color: var(--footer-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 16px 0 35px 0;
}
.address {
    color: var(--footer-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
.platforms {
    display: flex;
    column-gap: 24px;
    margin-bottom: 20px;
}
.media p {
    color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.media p:nth-child(3) {
    padding: 9px 0 8px 0;
}
.copyright {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
    border-top: 1px solid white;
    margin-top: 88px;
}
.copyright p {
    color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.last_p {
    padding-top: 64px;
}
.nav_btns {
    display: flex;
    column-gap: 8px;
    width: 48px;
    margin: 27px auto 0 auto;
    padding-bottom: 67px;
    opacity: 0;
}
.btn {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: rgba(176, 186, 175, 1);
}
.active {
    width: 20px;
    background-color: rgba(24, 116, 255, 1);
}
.media {
    width: 235px;
}
@media screen and (max-width: 1439px) {
    header nav, .emojy {
        display: none;
    }
    .container {
        max-width: 720px;
        margin: 0 auto;
    }
    main .container>img {
        width: 720px;
    }
    .cards {
        justify-content: center;
    }
    .card:last-child {
        display: none;
    }
    .title {
        padding: 40px 0;
        margin-top: 88px;
    }
    .title h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    .img-text b {
        font-weight: 300;
    }
    main h3 {
        margin-top: 48px;
    }
    .last_p {
        padding-top: 48px;
    }
    .nav_btns {
        opacity: 1;
    }
    .copyright {
        max-width: 720px;
        margin-top: 32px;
    }
    footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .media {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .media p {
        align-self: end;
        width: 345px;
    }
    .phone {
        width: 345px;
    }
}
@media screen and (max-width: 767px) {

}